# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/webconnector/node_modules
/.pnp
.pnp.js
package-lock.json
# testing
/coverage
/build
# production
checks.json
.vscode
.windsurf
wiki/local_wiki
/ssl
/local
# misc
.DS_Store
.env.development.local
.env.test.local
.env.production.local
.editorconfig

npm-debug.log*
yarn-debug.log*
yarn-error.log*
HEFNY_README.txt
HEFNY_DEPLOY.txt

local/
config.bat
